.selection {
    -fx-background-color: #FFFFFF;
    -fx-font-family: SansSerif;
}

.selection .text {
    -fx-fill: #000000;
    -fx-font-family: SansSerif;
}

.selection Text {
    -fx-fill: linear-gradient(to right, #0073e6, #6eb7ff);
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
}

.selection ComboBox {
    -fx-font-size: 1.1em;
    -fx-padding: 3;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-radius: 8;
}

.selection HBox {
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-font-size: 1.2em;
}

.selection RadioButton {
    -fx-cursor: hand;
    -fx-progress-color: red;
    -fx-color-label-visible: green;
    /*-fx-background-color: blue;*/
}

.selection Button {
    -fx-border-radius: 10;
    -fx-background-color: #007BFF;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
