.selection{
    -fx-background-color: #FFFFFF;
}

.selection .text{
    -fx-fill: #FFFF00;
    -fx-font-weight: bold;
}

.selection Text{
    -fx-fill: linear-gradient(to right, #0073e6, #6eb7ff);
    -fx-font-size: 2em;
    -fx-alignment: center;
}

.selection ComboBox{
    -fx-background-radius: 10;
    -fx-padding: 10 0 10 0;
    -fx-background-color: #333333;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.75),10,0,0,3);
}

.selection Line{
    -fx-stroke: #00F0FF;
    -fx-stroke-width: 2px;
}
